{% extends 'base.html' %} {% load static %} {% block content %}

<body class="single">


    <div id="fh5co-title-box" style="background-image: url('/static/images/about.jpeg');" data-stellar-background-ratio="1" >
        <div class="overlay" id="us"></div>
        <div class="page-title">
            <img src="{% static 'images/logo.png' %}" alt="img1" id="mission">

            <h2>Passion Movement International</h2>
        </div>
    </div>
    <div id="fh5co-single-content" class="container-fluid pb-4 pt-4 paddding">
        <div class="container paddding">
            <div class="row mx-0">

                <h3 id="family" id="paraFont"><b>A Family to connect with...</b> </h3><br><br><br>
                <p style="text-align: justify " id="paraFont">
                    It has always been PMI’s ambition to create an atmosphere where anyone can connect and feel welcome – a home away from home. Being situated so close to Delhi University has given us the unique opportunity to invest in students lives, and provide ways
                    for them to invest in others.Life in Delhi is full of stresses, opportunities, and decisions so we have made it our passion to encourage, help, and guide students towards a better Since our beginning in 2006 we have seen many people
                    grow and develop their skills, people that are now changing the face of India and even around the world. For instance, several of our volunteers have been selected into Indian Administrative Services. No matter what field of study,
                    age, or nationality, PMI is committed to serve all, and we do so in a variety of ways: ENGLISH COURSES are provided at various times throughout the year with native English speaking teachers for Beginners, Intermediate, and Advance
                    courses.
                    <p style="text-align: justify" id="paraFont"> Please check our website for the upcoming courses. MUSIC CLASSES and TAE-KWON-DO classes are also open to all people throughout the year. VISION PROJECT: PMI also works with visually challenged students. We don’t believe them to be
                        “disabled,” but rather, that God has created them “differently-abled”. We encourage them in different areas of life and treat them as one among us without any difference. CLOTHING & BLANKET DISTRIBUTION: On a regular basis donated
                        clothes are given to help the needy slum families.</p>
                    <p style="text-align: justify " id="paraFont">Every winter PMI collects blankets to distribute, at random, to the people on the streets of Delhi. Other Activities: PMI holds music concerts and seminars with a variety of topics. The musicians and speakers come from both India and
                        abroad. We also put on Kids Camps and carnivals for the community and slum kids. In addition, students will find a Fresher’s program available, and opportunities to share their talents during our weekly programs.
                    </p>

            </div>

        </div>
    </div>
    <!--<div class="container-fluid pb-4 pt-5">
            <div class="container animate-box">
                <div>
                    <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">Events</div>
                </div>
                <div class="owl-carousel owl-theme" id="slider2">
                    <div class="item px-2">
                        <div class="fh5co_hover_news_img">
                            <div class="fh5co_news_img"><img src="images/IMG_5039.JPG" alt="" /></div>
                            <div>
                                <a href="#" class="d-block fh5co_small_post_heading"><span class="">The top 10 best computer speakers in the market</span></a>
                                <div class="c_g"><i class="fa fa-clock-o"></i> Oct 16,2017</div>
                            </div>
                        </div>
                    </div>
                    <div class="item px-2">
                        <div class="fh5co_hover_news_img">
                            <div class="fh5co_news_img"><img src="images/IMG_5963.JPG" alt="" /></div>
                            <div>
                                <a href="#" class="d-block fh5co_small_post_heading"><span class="">The top 10 best computer speakers in the market</span></a>
                                <div class="c_g"><i class="fa fa-clock-o"></i> Oct 16,2017</div>
                            </div>
                        </div>
                    </div>
                    <div class="item px-2">
                        <div class="fh5co_hover_news_img">
                            <div class="fh5co_news_img"><img src="images/IMG_5969.JPG" alt="" /></div>
                            <div>
                                <a href="#" class="d-block fh5co_small_post_heading"><span class="">The top 10 best computer speakers in the market</span></a>
                                <div class="c_g"><i class="fa fa-clock-o"></i> Oct 16,2017</div>
                            </div>
                        </div>
                    </div>
                    <div class="item px-2">
                        <div class="fh5co_hover_news_img">
                            <div class="fh5co_news_img"><img src="images/IMG_9935.JPG" alt="" /></div>
                            <div>
                                <a href="#" class="d-block fh5co_small_post_heading"><span class="">The top 10 best computer speakers in the market</span></a>
                                <div class="c_g"><i class="fa fa-clock-o"></i> Oct 16,2017</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

    <script>
        if (!navigator.userAgent.match(/Android|BlackBerry|iPhone|iPad|iPod|Opera Mini|IEMobile/i)) {
            $(window).stellar();
        }
    </script>

</body>
{%endblock content%}