{% extends 'base.html' %} {% load static %} {% block content %}

<div class="container-fluid pt-3">
     <div style="background-color:#f1f1f1 ;padding: 20px;">

        <div class="container animate-box" data-animate-effect="fadeIn">
            <div>
                <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4" id="Heading">
                    <h1> <b>FREQUENTLY ASKED QUESTIONS :</b></h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid " style="text-align: justify;">
    <div class="" data-animate-effect="fadeInLeft" id="paraFont">
        <p> <img src="{% static 'images/logo.png' %}" style=" height:350px;  min-width: 350px ; border-radius:350px;float:Right; padding:8px">
            <div class="container">

        </p>
        <p>
            <br><br>
            <h5><b>What is an NGO ?</h5></b> <br> Non-governmental organization (NGO) is a term that has become widely accepted for referring to a legally constituted, non-business organization created by natural or legal persons with no participation or
                representation of any government. Non-governmental organization is a term in generalized use but not a legal definition, in many jurisdictions these type of organizations are defined as "civil society organizations" or alternative terms.
                Another term for many NGO's is a "Non-profit organization", an organization that focuses on social work in the community, and is not doing it for profit or financial gain.
                <br><br>
                <h5><b> How can I serve at PMI?</h5></b>
                    <br> As a visitor: Join us for any of our weekly programs or special events As a volunteer: There are many service opportunities, please talk to any PMI Staff for a volunteer application As a sponsor: You are welcome to be one of our
                    generous donors! Contact a staff member for more information on how to give. Tax Exempted under Section 80G order No. DIT (E) 2008-2009/P-1228/1/67
                    <br><br>
                    <h5><b> When is PMI open ?</h5></b> <br> PMI’s regular days of operation are as follows. Sunday & Monday: Offices are closed Tuesday: 10:30 am - 6:00 pm Wednesday: 10:30 am - 7:00 pm (Chat over Coffee till 7:00pm) Thursday: 10:30 am -
                        6:00 pm Friday: 10:30 am - 6:00 pm Saturday: 10:30 am - 6:300 pm (Focal Point till 6:30PM). PMI is closed for the following holidays: Republic Day, Holi, Independence Day, Gandhi’s Jayanti, Diwali, Christmas.

        </p>
        <br>

        </div>
    </div>

    <div class="container-fluid fh5co_fh5co_bg_contcat ">
        <div class="container ">
            <div class="row py-4 ">
                <div class="col-md-4 py-3 ">
                    <div class="row fh5co_contact_us_no_icon_difh5co_hover ">
                        <div class="col-3 fh5co_contact_us_no_icon_difh5co_hover_1 ">
                            <div class="fh5co_contact_us_no_icon_div "> <span><i class="fa fa-phone "></i></span> </div>
                        </div>
                        <div class="col-9 align-self-center fh5co_contact_us_no_icon_difh5co_hover_2 ">
                            <span class="c_g d-block ">Call Us</span>
                            <span class="d-block c_g fh5co_contact_us_no_text ">9717711502 , 9818181502</span>
                        </div>
                        <div class="clearfix "></div>
                    </div>
                </div>
                <div class="col-md-4 py-3 ">
                    <div class="row fh5co_contact_us_no_icon_difh5co_hover ">
                        <div class="col-3 fh5co_contact_us_no_icon_difh5co_hover_1 ">
                            <div class="fh5co_contact_us_no_icon_div "> <span><i class="fa fa-envelope "></i></span>
                            </div>
                        </div>
                        <div class="col-9 align-self-center fh5co_contact_us_no_icon_difh5co_hover_2 ">
                            <span class="c_g d-block ">Have any query?</span>
                            <span class="d-block c_g fh5co_contact_us_no_text "> pmiteam@gmail.com,
                                info@pmingo.org</span>
                        </div>
                        <div class="clearfix "></div>
                    </div>
                </div>
                <div class="col-md-4 py-3 ">
                    <div class="row fh5co_contact_us_no_icon_difh5co_hover ">
                        <div class="col-3 fh5co_contact_us_no_icon_difh5co_hover_1 ">
                            <div class="fh5co_contact_us_no_icon_div "> <span><i class="fa fa-map-marker "></i></span>
                            </div>
                        </div>
                        <div class="col-9 align-self-center fh5co_contact_us_no_icon_difh5co_hover_2 ">
                            <span class="c_g d-block ">Address</span>
                            <span class="d-block c_g fh5co_contact_us_no_text ">House no 1012 , mukherjee nagar , bandh very near Midha home and Nirman IAS coaching centre.</span>
                        </div>
                        <div class="clearfix "></div>
                    </div>
                </div>
                <div class="clearfix "></div>
            </div>
        </div>
    </div>
    {% endblock content%}