{% extends 'base.html' %} {% load static %} {%block content%}


<div class="container-fluid pt-3">
     <div style="background-color:#f1f1f1 ;padding: 20px;">

        <div class="container animate-box" data-animate-effect="fadeIn">
            <div>
                <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4" id="Heading">
                    <h1> <b>FINANCIAL TRANSPARENCY</b></h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="container">

        <div id="paraFont"> <img src="{% static 'images/logo.png' %}" style=" height:350px;  min-width: 350px ; border-radius:450px;float: left; padding-right:8px">
            <p style="padding:52px;">Passion Movement International is committed to the transcendence of accountability and transparency. The Administration of PMI sees the standards through independent internal audit, the legal audit by a well-known audit firm, an external audit
                by local external auditors, operation audits, quarterly evaluations, monitoring, and timely peep reviews. At the fundamental, our partnership approach in working with community-based organizations ensures we are accountable, committed,
                and responsive to children, their communities, our volunteers, and Forum. It has always been PMI aim to convey a public image conforming to reality, and always to speak and act honestly. Our goal is serving to bring Hope to humanity with
                Love and the Truth consistently and with long term vision.</p>
        </div>
        <br>
        <br>
        <br>


    </div>

</div>

<div class="container-fluid fh5co_fh5co_bg_contcat ">
    <div class="container ">
        <div class="row py-4 ">
            <div class="col-md-4 py-3 ">
                <div class="row fh5co_contact_us_no_icon_difh5co_hover ">
                    <div class="col-3 fh5co_contact_us_no_icon_difh5co_hover_1 ">
                        <div class="fh5co_contact_us_no_icon_div "> <span><i class="fa fa-phone "></i></span> </div>
                    </div>
                    <div class="col-9 align-self-center fh5co_contact_us_no_icon_difh5co_hover_2 ">
                        <span class="c_g d-block ">Call Us</span>
                        <span class="d-block c_g fh5co_contact_us_no_text ">9717711502 , 9818181502</span>
                    </div>
                    <div class="clearfix "></div>
                </div>
            </div>
            <div class="col-md-4 py-3 ">
                <div class="row fh5co_contact_us_no_icon_difh5co_hover ">
                    <div class="col-3 fh5co_contact_us_no_icon_difh5co_hover_1 ">
                        <div class="fh5co_contact_us_no_icon_div "> <span><i class="fa fa-envelope "></i></span> </div>
                    </div>
                    <div class="col-9 align-self-center fh5co_contact_us_no_icon_difh5co_hover_2 ">
                        <span class="c_g d-block ">Have any query?</span>
                        <span class="d-block c_g fh5co_contact_us_no_text "> pmiteam@gmail.com, info@pmingo.org</span>
                    </div>
                    <div class="clearfix "></div>
                </div>
            </div>
            <div class="col-md-4 py-3 ">
                <div class="row fh5co_contact_us_no_icon_difh5co_hover ">
                    <div class="col-3 fh5co_contact_us_no_icon_difh5co_hover_1 ">
                        <div class="fh5co_contact_us_no_icon_div "> <span><i class="fa fa-map-marker "></i></span>
                        </div>
                    </div>
                    <div class="col-9 align-self-center fh5co_contact_us_no_icon_difh5co_hover_2 ">
                        <span class="c_g d-block ">Address</span>
                        <span class="d-block c_g fh5co_contact_us_no_text ">House no 1012 , mukherjee nagar , bandh very near Midha home and Nirman IAS coaching centre.</span>
                    </div>
                    <div class="clearfix "></div>
                </div>
            </div>
            <div class="clearfix "></div>
        </div>
    </div>
</div>
{%endblock content%}}