{% load static %}

<div class="container-fluid fh5co_footer_bg pb-3">
    <div class="container animate-box">
        <div class="row">
            <div class="col-12 spdp_right py-5"><img src="{% static 'images/logo.png' %}" alt="img" class="avatar" />
            </div>
            <div class="clearfix"></div>
            <div class="col-12 col-md-4 col-lg-3">
                <div class="footer_main_title py-3"> About</div>
                <div class="footer_sub_about pb-3" style="text-align: justify">"SERVING to bring HOPE to Humanity with
                    LOVE and the TRUTH" Passion Movement International was founded in Delhi, India by medical Dr. Peter
                    and Heather Malakar with a vision to develop and challenge potential leaders around the world for
                    a life of integrity, hope and compassionate service.
                </div>
                <div class="footer_mediya_icon">
                    <div class="text-center d-inline-block" style="padding-top: 10px;">
                        <a href="https://www.instagram.com/pmingodelhi/" target="_blank" class="fh5co_display_table">
                            <div class="fh5co_verticle_middle"><i class="fa fa-instagram"></i></div>
                        </a>
                    </div>
                    <div class="text-center d-inline-block" style="padding-top: 10px;">
                        <a href="https://www.facebook.com/permalink.php?story_fbid=4273527952673026&id=131958810163315"
                            target="_blank" class="fh5co_display_table">
                            <div class="fh5co_verticle_middle"><i class="fa fa-facebook"></i></div>
                        </a>
                    </div>

                </div>
            </div>
            <div class="col-12 col-md-3 col-lg-2">
                <div class="footer_main_title py-3"> Category</div>
                <ul class="footer_menu">
                    <li><a href="#" class=""><i class="fa fa-angle-right"></i>&nbsp;&nbsp;NGO </a></li>
                    <li><a href="#" class=""><i class="fa fa-angle-right"></i>&nbsp;&nbsp;NON-PROFIT</a></li>
                    <li><a href="#" class=""><i class="fa fa-angle-right"></i>&nbsp;&nbsp;VOLUNTEER </a></li>
                    <li><a href="#" class=""><i class="fa fa-angle-right"></i>&nbsp;&nbsp; EDUCATION </a></li>
                    <li><a href="#" class=""><i class="fa fa-angle-right"></i>&nbsp;&nbsp;DONATE</a></li>
                    <li><a href="#" class=""><i class="fa fa-angle-right"></i>&nbsp;&nbsp; PHILANTHROPY </a></li>
                    <li><a href="#" class=""><i class="fa fa-angle-right"></i>&nbsp;&nbsp;SOCIALWORKS</a></li>
                    <li><a href="#" class=""><i class="fa fa-angle-right"></i>&nbsp;&nbsp;FUNDRAISING </a></li>
                    <li><a href="#" class=""><i class="fa fa-angle-right"></i>&nbsp;&nbsp; CHANGE</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-5 col-lg-3 position_footer_relative">
                <div class="footer_main_title py-3"> Most Viewed Posts</div>
                {%for obj in most%}
                <!-- <h4>{{obj.view_count}}</h4> -->
                <div class="footer_makes_sub_font"> {{obj.timestamp.date}}</div>
                <a href="{{ obj.get_absolute_url }}" class="footer_post pb-4"> {{obj.title}}</a>
                {%endfor%}
                <!-- <div class="footer_makes_sub_font"> jan 31, 2020</div>
                <a href="#" class="footer_post pb-4"> Chat over Coffee </a>
                <div class="footer_makes_sub_font"> mar 13, 2020</div>
                <a href="#" class="footer_post pb-4"> Counselling </a>
                <div class="footer_makes_sub_font">jan 3, 2020</div>
                <a href="#" class="footer_post pb-4"> Medical Camp </a> -->
                <div class="footer_position_absolute"><img src="{% static 'images/footer_sub_tipik.png' %}" alt="img"
                        class="width_footer_sub_img" /></div>
            </div>
            <div class="col-12 col-md-12 col-lg-4 ">
                <div class="footer_main_title py-3"> Latest posts</div>

                {%for obj in latest%}

                <a href="{{ obj.get_absolute_url }}" class="footer_img_post_6"><img src="{{obj.thumbnail.url}}"
                        alt="img" /></a>
                {%endfor%}
            </div>
        </div>
        <form action="subscribe/" method="POST">
            <div class="row justify-content-center pt-2 pb-4">

                {% if not request.user.is_authenticated %}
                <div class="col-12 col-md-8 col-lg-7 ">
                    <div class="input-group">
                        {% csrf_token %}
                        <span class="input-group-addon fh5co_footer_text_box" id="basic-addon1"><i
                                class="fa fa-envelope"></i></span> {{form}}
                        <button type="submit" class="input-group-addon fh5co_footer_subcribe" id="basic-addon12"> <i
                                class="fa fa-paper-plane-o"></i>Subscribe</button>

                    </div>
                </div>
                {%endif%}


            </div>
        </form>
    </div>
</div>
<div class="container-fluid fh5co_footer_right_reserved">
    <div class="container">
        <div class="row  ">
            <div class="col-12 col-md-6 py-4 Reserved"> <a href="https://myportfolioo.web.app/">Designed by Govind &
                    Mritunjay </a></div>
            <div class="col-12 col-md-6 spdp_right py-4">
                <a href="/index" class="footer_last_part_menu">Home</a>
                <a href="/about" class="footer_last_part_menu">About</a>
                <a href="/contact" class="footer_last_part_menu">Contact</a>
                <a href="/donate" class="footer_last_part_menu">Donate</a></div>
        </div>
    </div>
</div>
<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="fa fa-arrow-up"></i></a>
</div>