{% load static %}


<div class="container-fluid fh5co_header_bg">
    <div class="container">
        <div class="row">
            <div class="col-12 fh5co_mediya_center" style="text-align:left"><a href="#"
                    class="color_fff fh5co_mediya_setting"><i
                        class="fa fa-clock-o"></i>&nbsp;&nbsp;&nbsp;{{now|date:"D d M Y" }}&nbsp&nbsp&nbsp&nbsp</a>
                <div class="d-inline-block fh5co_trading_posotion_relative"><a href="#"
                        class="treding_btn">&nbsp;Passion Movement International&nbsp;</a>
                    <div class=""></div>
                </div>
                <a href="#" class="color_fff fh5co_mediya_setting">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SERVING to bring HOPE
                    to Humanity with LOVE and the TRUTH</a>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" id="Header">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-3 fh5co_padding_menu">
                <a href="/"> <img src="{% static 'images/logo.png' %}" alt="img" href="" class="avatar" /> </a>
            </div>

            <div class="col-12 col-md-9 align-self-center fh5co_mediya_right">
                <div class="text-center d-inline-block" style="padding-top: 10px;">
                    <a href="https://www.instagram.com/pmingodelhi/" target="_blank" class="fh5co_display_table">
                        <div class="fh5co_verticle_middle"><i class="fa fa-instagram"></i></div>
                    </a>
                </div>
                <div class="text-center d-inline-block" style="padding-top: 10px;">
                    <a href="https://www.facebook.com/permalink.php?story_fbid=4273527952673026&id=131958810163315"
                        target="_blank" class="fh5co_display_table">
                        <div class="fh5co_verticle_middle"><i class="fa fa-facebook"></i></div>
                    </a>
                </div>
                <!-- {% if request.user.is_authenticated %}
                <div class="text-center d-inline-block">
                    <a href="/accounts/logout" class="fh5co_display_table">
                        <div class="fh5co_verticle_middle" id="logout"><i class="fa fa-sign-out"></i></div>
                    </a>
                </div>

                {%else%}
                <div class="text-center d-inline-block">
                    <a href="/accounts/login" class="fh5co_display_table">
                        <div class="fh5co_verticle_middle" id="login"><i class="fa fa-sign-in"></i></div>
                    </a>
                </div>
                {%endif%} -->
                <p style="text-align: left; "><b>
                        <h1 style="text-align: left;">
                            Passion Movement International</h1>
                    </b></p>
                <div class="d-inline-block text-center dd_position_relative" style="padding-bottom: 10px;">
                    <a href="/donate"><input type="submit" value="Donate" class="submit" id="reset" name="reset" /></a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid bg-faded fh5co_padd_mediya padding_786">
    <div class="" style="padding-left:10px;   display: flex;
  align-items: center;
  justify-content: center ">
        <nav class="navbar navbar-toggleable-md navbar-light ">
            <button class="navbar-toggler navbar-toggler-right mt-3" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"><span class="fa fa-bars"></span></button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuButton2" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false"> ABOUT </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li> <a class="dropdown-item" href="/mission-statement">MISSION STATEMENT </a></li>
                            <li> <a class="dropdown-item" href="/about-us">A FAMILY TO CONNECT WITH</a></li>
                            <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="/team">PMI
                                    TEAM</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="/team">PRABIN SINGH</a></li>
                                    <li><a class="dropdown-item" href="/team#PRAISE">PRAISE</a></li>
                                    <li><a class="dropdown-item" href="/team#Harendra">HARENDRA</a></li>
                                    <li><a class="dropdown-item" href="/team#Dr Peter Malakar">DR.PETER MALAKAR</a>
                                    </li>
                                    <li><a class="dropdown-item" href="/team#Amit">AMIT</a></li>
                                </ul>
                            <li><a class="dropdown-item" href="/financial-transparency">FINANCIAL TRANSPARENCY</a>
                            </li>
                            <li> <a class="dropdown-item" href="/faqs">FAQs</a></li>


                    </li>
                </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuButton2" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">WHAT WE DO</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">CHEP</a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle"
                                        href="/Nandlal-community">NANDLAL
                                        COMMUNITY</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="/Nandlal-community#Health Checkup">HEALTH
                                                CHECKUP</a> </li>
                                        <li><a class="dropdown-item" href="/Nandlal-community#Pathshala">PATHSHALA</a>
                                        </li>
                                        <li><a class="dropdown-item" href="/Nandlal-community#Bal Shiksha Program">BAL
                                                SHIKSHA
                                                PROGRAM</a></li>
                                        <li><a class="dropdown-item" href="/Nandlal-community#Vitamin Project">VITAMIN
                                                PROJECT</a></li>
                                        <li><a class="dropdown-item" href="/Nandlal-community#Back to school">BACK
                                                TO SCHOOL</a> </li>
                                        <li><a class="dropdown-item" href="/Nandlal-community#Summer Program">SUMMER
                                                PROGRAM</a></li>
                                        <li><a class="dropdown-item" href="/Nandlal-community#Kids Camp">KIDS
                                                CAMP</a></li>
                                        <li><a class="dropdown-item" href="/Nandlal-community#Career Counseling">CAREER
                                                COUNSELING</a>
                                        </li>
                                        <li><a class="dropdown-item"
                                                href="/Nandlal-community#Parent's Education">PARENT'S EDUCATION</a>
                                        </li>
                                        <li><a class="dropdown-item" href="/Nandlal-community#Vision Project">VISION
                                                PROJECT</a> </li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle"
                                        href="/Badabagh-community">BADABAGH
                                        COMMUNITY</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="/Badabagh-community#Health Checkup">HEALTH
                                                CHECKUP</a></li>
                                        <li><a class="dropdown-item" href="/Badabagh-community#Back to school">BACK
                                                TO SCHOOL</a></li>
                                        <li><a class="dropdown-item" href="/Badabagh-community#Summer Program">SUMMER
                                                PROGRAM</a></li>
                                        <li><a class="dropdown-item" href="/Badabagh-community#Kids Camp ">KIDS
                                                CAMP</a></li>
                                        <li><a class="dropdown-item"
                                                href="/Badabagh-community#Career Counseling ">CAREER COUNSELING</a>
                                        </li>
                                        <li><a class="dropdown-item"
                                                href="/Badabagh-community#Parent's Education">PARENT'S EDUCATION</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="dropdown-item" href="About_us.html"></a>
                        </li>
                        <li> <a class="dropdown-item" href="/campus-engagement">CAMPUS ENGAGEMENT</a></li>
                        <li> <a class="dropdown-item" href="/awareness-program">AWARENESS PROGRAM</a></li>
                        <li> <a class="dropdown-item" href="/relief-funds">RELIEF FUNDS</a></li>
                        <li> <a class="dropdown-item" href="/co-curricular-activities">CO-CURRICULAR ACTIVITIES</a></li>
                        <li> <a class="dropdown-item" href="/child-sponsorship-program">CHILD SPONSORSHIP PROGRAM</a>
                        </li>
                        <li> <a class="dropdown-item" href="/field-visit">FIELD VISIT</a></li>
                        <li> <a class="dropdown-item" href="/blanket-drive">BLANKET DRIVE</a></li>
                        <li> <a class="dropdown-item" href="/medical-camp">MEDICAL CAMP</a></li>
                </li>
                </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuButton2" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false"> IMPACT </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="/success-stories">SUCCESS STORIES</a> </li>
                        <li> <a class="dropdown-item" href="/impacts">IMPACT AND OUTREACH</a> </li>

                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuButton2" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">GET INVOLVED</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                        <li> <a class="dropdown-item" href="/volunteer">VOLUNTEER</a> </li>
                        <li> <a class="dropdown-item" href="/internships">INTERN</a> </li>
                        <li> <a class="dropdown-item" href="/alumni">ALUMNI</a> </li>
                        <li> <a class="dropdown-item" href="/donate">DONATE</a> </li>

                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuButton2" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">EVENTS</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li> <a class="dropdown-item" href="/chat-over-coffee">CHAT OVER COFFEE</a></li>
                        <li> <a class="dropdown-item" href="/focal-point">FOCAL POINT</a></li>
                        <li> <a class="dropdown-item" href="/forums">FORUMS</a></li>
                        <li> <a class="dropdown-item" href="/music">MUSIC CONCERTS</a></li>
                        <li> <a class="dropdown-item" href="/language">ENGLISH CLASS</a></li>

                    </ul>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/media" id="dropdownMenuButton2">NEWS & MEDIA <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/contact" id="dropdownMenuButton2">CONTACT <span
                            class="sr-only">(current)</span></a>
                </li>
                {%if request.user.is_staff%}
                <li class="nav-item ">
                    <a class="nav-link" href="/create" id="dropdownMenuButton2">CREATE <span
                            class="sr-only">(current)</span></a>
                </li>
                {%endif %}
                </ul>
            </div>
        </nav>
    </div>
</div>