{% extends 'base.html' %} {% load static %} {%block content%}

<div class="container-fluid" style="text-align: justify;">
    <div class="" data-animate-effect="fadeInLeft" id="mission" style=" font-family:Arial, Helvetica, sans-serif; padding:30px; ">
        <div id="paraFont"> <img src="{% static 'images/logo.png'%}" style=" height:550px;  min-width: 550px ; border-radius:450px;float: right; padding-right:60px">
            <p style="padding:40px;"> <b>
                    <h4> "SERVING to bring HOPE to Humanity with LOVE and the TRUTH "</h4>
                </b> <br><br> Passion Movement International was founded in Delhi, India by medical Dr. Peter and Heather Malakar with a vision to develop and challenge potential leaders around the world for a life of integrity, hope and compassionate
                service.
                <br> PMI brings people together from different places to share expertise and resources, while developing friendships and seeking new opportunities to serve together for LOCAL and GLOBAL impact. We seek to identify the areas of need around
                us and endeavor to meet them with not only immediate but long-term assistance. This includes social, educational, spiritual and charitable work. <br> INTEGRITY, EXCELLENCE,COMMITMENT & RELATIONSHIP are what PMI considers as our core values.
                We are a dedicated group of volunteers and staff with that similar passion and vision. Our phenomenal team would love to meet you and plug you into
                <br> what is going on at PMI!
            </p>
        </div>
        <br>

    </div>
</div>

<div class="container-fluid fh5co_fh5co_bg_contcat ">
    <div class="container ">
        <div class="row py-4 ">
            <div class="col-md-4 py-3 ">
                <div class="row fh5co_contact_us_no_icon_difh5co_hover ">
                    <div class="col-3 fh5co_contact_us_no_icon_difh5co_hover_1 ">
                        <div class="fh5co_contact_us_no_icon_div "> <span><i class="fa fa-phone "></i></span> </div>
                    </div>
                    <div class="col-9 align-self-center fh5co_contact_us_no_icon_difh5co_hover_2 ">
                        <span class="c_g d-block ">Call Us</span>
                        <span class="d-block c_g fh5co_contact_us_no_text ">9717711502 , 9818181502</span>
                    </div>
                    <div class="clearfix "></div>
                </div>
            </div>
            <div class="col-md-4 py-3 ">
                <div class="row fh5co_contact_us_no_icon_difh5co_hover ">
                    <div class="col-3 fh5co_contact_us_no_icon_difh5co_hover_1 ">
                        <div class="fh5co_contact_us_no_icon_div "> <span><i class="fa fa-envelope "></i></span> </div>
                    </div>
                    <div class="col-9 align-self-center fh5co_contact_us_no_icon_difh5co_hover_2 ">
                        <span class="c_g d-block ">Have any query?</span>
                        <span class="d-block c_g fh5co_contact_us_no_text "> pmiteam@gmail.com, info@pmingo.org</span>
                    </div>
                    <div class="clearfix "></div>
                </div>
            </div>
            <div class="col-md-4 py-3 ">
                <div class="row fh5co_contact_us_no_icon_difh5co_hover ">
                    <div class="col-3 fh5co_contact_us_no_icon_difh5co_hover_1 ">
                        <div class="fh5co_contact_us_no_icon_div "> <span><i class="fa fa-map-marker "></i></span>
                        </div>
                    </div>
                    <div class="col-9 align-self-center fh5co_contact_us_no_icon_difh5co_hover_2 ">
                        <span class="c_g d-block ">Address</span>
                        <span class="d-block c_g fh5co_contact_us_no_text ">House no 1012 , mukherjee nagar , bandh very near Midha home and Nirman IAS coaching centre.</span>
                    </div>
                    <div class="clearfix "></div>
                </div>
            </div>
            <div class="clearfix "></div>
        </div>
    </div>
</div>

{%endblock content%}