{% extends 'base.html' %} {% load static %} {% block content %}


<div class="container-fluid pb-4 pt-4 paddding">
    <div class="container paddding">
        <div class="row mx-0">
            <div class="col-md-8 animate-box" data-animate-effect="fadeInLeft">
                <div>
                    <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4" id="head">{{header}}</div>
                </div>
                {% for post in queryset %}
                <div class="row pb-4" style="padding-top:15px">
                    <div class="col-md-5">
                        <div class="fh5co_hover_news_img">
                            <div class="fh5co_news_img">
                                <a href="{{ post.get_absolute_url }}"><img src="{{ post.thumbnail.url }}" alt="..." class="imgpost" id=""></a>
                            </div>

                        </div>
                        <div class="post-meta d-flex justify-content-between">
                            {% comment %}
                            <div class="date meta-last">20 May | 2016</div> {% endcomment %}
                            <div class="category" style="padding-top:7px ;padding-bottom:10px;">
                                {% for cat in post.categories.all %}
                                <a href="#">{{ cat }}</a> {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 animate-box">
                        <a href="{{ post.get_absolute_url }}" class="fh5co_magna py-2" id="nametag">{{ post.title }}<br>
                            </a>

                        <div class="fh5co_consectetur" style="text-align: justify" id="paraFont">{{ post.overview }} </div>
                    </div>
                    <footer class="post-footer d-flex align-items-center">
                        <a href="#" class="author d-flex align-items-center flex-wrap"><br> &nbsp; &nbsp;&nbsp; <img src="{{ post.author.profile_picture.url }}" alt="..." class="rounded-circle" width="30" height="30">
                            <div class="title" style="padding-left: 9px ;">&nbsp;<span>{{ post.author.user.username }}</span></div>
                        </a>
                        <div class="date"><i class="icon-clock" style="padding-left:10px ;"></i>{{ post.timestamp.date }}&nbsp &nbsp;</div>
                        <div class="views"><i class="fa fa-eye" aria-hidden="true"></i>&nbsp{{ post.view_count }}</div>&nbsp&nbsp&nbsp
                        <div class="comments meta-last"><i class="fa fa-comments" aria-hidden="true"></i>&nbsp{{ post.comment_count }}</div>
                    </footer>
                </div>
                {% endfor %}

                <!-- Pagination -->
                <nav aria-label="Page navigation example">
                    <ul class="pagination pagination-template d-flex justify-content-center">
                        {% if queryset.has_previous %}
                        <li class="page-item">
                            <a href="?{{ page_request_var }}={{ queryset.previous_page_number }}" class="page-link"> <i class="fa fa-angle-left"></i></a>
                        </li>
                        {% endif %}
                        <li class="page-item"><a href="?{{ page_request_var }}={{ queryset.number }}" class="page-link active">{{ queryset.number }}</a></li>
                        {% if queryset.has_next %}
                        <li class="page-item">
                            <a href="?{{ page_request_var }}={{ queryset.next_page_number }}" class="page-link"> <i class="fa fa-angle-right"></i></a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>

                {% if is_paginated %}

                <nav aria-label="Page navigation example">
                    <ul class="pagination pagination-template d-flex justify-content-center">
                        {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a href="?{{ page_request_var }}={{ page_obj.previous_page_number }}" class="page-link"> <i class="fa fa-angle-left"></i></a>
                        </li>
                        {% endif %}
                        <li class="page-item"><a href="?{{ page_request_var }}={{ page_obj.number }}" class="page-link active">{{ page_obj.number }}</a></li>
                        {% if page_obj.has_next %}
                        <li class="page-item">
                            <a href="?{{ page_request_var }}={{ page_obj.next_page_number }}" class="page-link"> <i class="fa fa-angle-right"></i></a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>

                {% endif %}

                <!-- 
                    <div class="row pb-4" style="padding-top: 60px">
                        <div class="col-md-5">
                            <div class="fh5co_hover_news_img">
                                <div class="fh5co_news_img"><img src="{% static 'images/IMG_5039.JPG' %}" alt="" /></div>
                                <div></div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <a href="about/" class="fh5co_magna py-2">Focal Point</a> <br><a href="#" class="fh5co_mini_time py-3"> EVERY SATURDAY'S 5pm - 7:30pm </a>
                            <div class="fh5co_consectetur">
                                <p style="text-align: justify">Focal Point:the point at which rays or waves meet after reflection or refraction, or the point from which diverging rays or waves appear to proceed; the center of interest or activity. The dictionary definition of a “focal
                                    point” says a lot about what kind of program Passion Movement International has formed - broadly, a center of interest and activity. <span id="dots">...</span><span id="more">In fact, Delhi itself is a kind of
                                    epicenter of minds, a meeting place of thinkers. Some are striving for education, others for work, but all have an ambition towards a better future. With so many peoples of varied cultures, the Delhi melting point is
                                    boiling over with philosophies and beliefs. How does one make sense of it all? What is shaping our beliefs and values? Moreover, what kind of people are “diverging” out from this city? This question is one motivation
                                    behind PMI’s weekly Focal Point program. One might think of Focal Point as a cross-examination of the most important life issues and questions. Socrates spoke well when he said, “the unexamined life is not worth living.”
                                    We want to help students think critically about what they believe because they are the world’s future leaders. A variety of educated, international speakers are invited regularly to bring their thoughts and expertise
                                    to the table. In smaller groups students have the chance to discuss, formulate, and share their own opinions. Relevant and thought-provoking lectures, however, are just one aspect of Focal Point. In addition, we organize
                                    fun, interactive games, and excellent live music. We gladly encourage those with a talent and heart for music to take the stage! PMI makes every effort to be student-friendly - there is no cost to attend! With so much
                                    to gain we hope to see you at our next Focal Point session!</span> </p>


                                <button onclick="myFunction()" id="myBtn">Read more</button>
                            </div>
                        </div>
                    </div>

                    <div class="row pb-4" style="padding-top: 60px">
                        <div class="col-md-5">
                            <div class="fh5co_hover_news_img">
                                <div class="fh5co_news_img"><img src="images/IMG_9935.JPG " alt="" /></div>
                                <div></div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <a href="about/" class="fh5co_magna py-2">Chat over Coffee</a> <br><a href="#" class="fh5co_mini_time py-3"> Every Wednesday </a>
                            <div class="fh5co_consectetur">Here at PMI we work hard at good combinations, and one we can’t help but put together is coffee and conversation! COC lives up to its name, giving students and any visitors an informal time to relax and talk. We welcome anyone
                                as we would our own family</div>
                        </div>

                    </div> -->
            </div>
            <div class="col-md-3 animate-box" data-animate-effect="fadeInRight">
                <div>
                    <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">Tags</div>
                </div>
                <div class="clearfix"></div>
                <div class="fh5co_tags_all">
                    <a href="#" class="fh5co_tagg">NGO</a>
                    <a href="#" class="fh5co_tagg">NON-PROFIT</a>
                    <a href="#" class="fh5co_tagg">VOLUNTEER</a>
                    <a href="#" class="fh5co_tagg">EDUCATION</a>
                    <a href="#" class="fh5co_tagg">DONATE</a>
                    <a href="#" class="fh5co_tagg">LOVE</a>
                    <a href="#" class="fh5co_tagg">INDIA</a>
                    <a href="#" class="fh5co_tagg">PHILANTHROPY</a>
                    <a href="#" class="fh5co_tagg">CHANGE</a>
                    <a href="#" class="fh5co_tagg">UNITEDONATIONS</a>
                    <a href="#" class="fh5co_tagg">FUNDRAISING</a>
                    <a href="#" class="fh5co_tagg">SOCIALWORKS</a>
                </div>
                <div>
                    <div class="fh5co_heading fh5co_heading_border_bottom pt-3 py-2 mb-4">PMI Events</div>
                </div>
                <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%239E69AF&amp;ctz=Asia%2FKolkata&amp;src=c3JpdmFzdGF2YW1yaXR1bmpheTAxQGdtYWlsLmNvbQ&amp;src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;src=ZHVyOWtuNDVsN29jbDUzaDBhdnE2cGlkcjhAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=ZW4uaW5kaWFuI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;color=%23039BE5&amp;color=%2333B679&amp;color=%233F51B5&amp;color=%230B8043"
                    style="border:solid 1px #777" width="400" height="450" frameborder="0" scrolling="no"></iframe>

            </div>
        </div>

    </div>
</div>
<!-- <div class="container-fluid pb-4 pt-5">
        <div class="container animate-box">
            <div>
                <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">Programs</div>
            </div>
            <div class="owl-carousel owl-theme" id="slider2">
                <div class="item px-2">
                    <div class="fh5co_hover_news_img">
                        <div class="fh5co_news_img"><img src="images/IMG_1881.JPG" alt="" /></div>
                        <div>
                            <a href="about/" class="d-block fh5co_small_post_heading"><span class="">Experience the Joy of Serving,educate  for Life</span></a>
                            <div class="c_g"><i class="fa fa-clock-o"></i> Oct 16,2017</div>
                        </div>
                    </div>
                </div>
                <div class="item px-2">
                    <div class="fh5co_hover_news_img">
                        <div class="fh5co_news_img"><img src="images/IMG_1972.JPG" alt="" /></div>
                        <div style="text-align: justify">
                            <a href="about/" class="d-block fh5co_small_post_heading"><span class="" >This program tutors children already in the school 
                                but who are behind in their studies.
                                 Our staff & Volunteers go to the slum to teach them.</span></a>
                            <div class="c_g"><i class="fa fa-clock-o"></i> Oct 16,2017</div>
                        </div>
                    </div>
                </div>
                <div class="item px-2">
                    <div class="fh5co_hover_news_img">
                        <div class="fh5co_news_img"><img src="images/IMG_2231.JPG" alt="" /></div>
                        <div style="text-align: justify">
                            <a href="about/" class="d-block fh5co_small_post_heading"><span class="">The people in this world are remarkably different, yet in our differences we also see sameness</span></a>
                            <div class="c_g"><i class="fa fa-clock-o"></i> Oct 16,2017</div>
                        </div>
                    </div>
                </div>
                <div class="item px-2">
                    <div class="fh5co_hover_news_img">
                        <div class="fh5co_news_img"><img src="images/IMG_2335.JPG" alt="" /></div>
                        <div style="text-align: justify">
                            <a href="about/" class="d-block fh5co_small_post_heading"><span class=""> The Vitamin Project! The concern
                                 for the well-being of the
                                 Nandlal slum kids is what began the incredible undertaking.</span></a>
                            <div class="c_g"><i class="fa fa-clock-o"></i> Oct 16,2017</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

{% endblock content %}